@import 'variables';

.match-control-height {
  line-height: 36px;
}

.question-preview-container {
  padding-top: 0.75rem;
}

.question-preview-modal-container {
  padding: 0 0.75rem;
}

.sticky {
  position: sticky;
  top: $header-height;
}

.bottom-0 {
  bottom: 0;
}

td.disabled {
  background: #ddd;
}

td.correct {
  background: #91dc91;
}

.action-btn-td {
  padding-left: 0;
  padding-right: 5px;
}

.dropdown-td {
  min-width: 150px;
}

.number-td {
  min-width: 65px;
}
