.pdf-container {
  height: 75vh;
}

.pdf-viewer-hidden {
  opacity: 0;
  visibility: none;
}

::ng-deep ng2-pdfjs-viewer > iframe {
  border: 0;
}

.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}