.comment-text, .question-text {
  font-weight: 300;
  font-size: 1.25em;
  margin-bottom: 1rem;
}

.answer-text {
  font-weight: 300;
  font-size: 1.05rem;
}

.answer-block {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
