// General
$positive-color: green;
$negative-color: #ff402f;
$highlight-color: #ffcd00;

// Header
$header-height: 39px;
$header-background-color: #FFCC00; // #fff;
$header-border-color: #FFCC00; // #f1f1f3;
$user-circle-background-color: #ba9408;

// Breadcrumb
$breadcrumb-color: #605e5c; // #007bff;
$breadcrumb-divider-color: $breadcrumb-color;
$breadcrumb-active-color: $breadcrumb-color;
$breadcrumb-item-padding: 0.8rem;

// Sidenav
$sidenav-width: 200px;

$sidenav-background-color: #f3f2f1; // #fff;
$sidenav-border-color: #edebe9; // #f1f1f3;

$sidenav-inactive-link-color: #323130; // #3e3f43;
$sidenav-active-link-color: #323130;
$sidenav-hover-link-color: #323130; // black;

// Sidebar
$sidebar-width: 275px;
$sidebar-background-color: #faf9f8;
$sidebar-border-color: #edebe9;

$btn-raised-background-color: #FFCC00;
$btn-raised-border-color: #FFCC00;

// Dashboard
$dashboard-background-color: #faf9f8;

// Card
$card-background-color: white;
$card-border-color: #eee;

// Dropdown
$dropdown-color: #8c8c8c;
$dropdown-active-color: black;
